*{
    margin: 0;
    padding: 0;
}

.imglogo{
    width: 100px;
}

.fondo{
    background-color: #000;

}
.navbar{
    margin: -8px;
   
    
}

.section{
    margin: 10 px;
}
.h1Border{
    
    color: white;
    font-size: 400%;
    
}

.hClass{
    color: rgba(255, 255, 255, 0.418);
    font-size: 150%;
   
}

.carru{
    padding-left: 10%;
    padding-right: 10%;
}
 
 .tendencias{
    color: black;
    background-color: white;
    
    
 }

.h1Tendencias{
   font-size: 350%; 
 
}



.cardBorder{
    border-radius: 50px ;
    width: 300px;
    
}

.carruBorder{
    border-radius: 10px;
    
}

.cardMargin{
        margin: 10px;
}

.formulario{
    color: aliceblue;
}








