.tendencias{
    color: black;
    background-color: white;
    
    
 }

.h1Tendencias{
   font-size: 350%; 
 
}



.cardBorder{
    border-radius: 50px ;
    width: 300px;
    
}


.cardMargin{
    margin: 10px;
}
