

.headerIndex{
    h1{
        color: white;
        

    }

    h2, h3 {
        color: rgb(78, 78, 78);
        
       
    }
    display: flex;
justify-content: center;
text-align: center;
    
}
.colorH3{
    color: rgb(193, 87, 70, 0.46);
}

.inicio{
    background-color: white;
    background-image: url(../img/fondoheader.jpg);
    background-repeat: no-repeat;
    height: 700px;

   
    

    @media (max-width: 1024px){
        background-position: bottom;
        background-position-x: 100%;
        .hInicio{
            padding-top: 2%;               
            
        }
            
    }
    @media (min-width: 1024px){
        background-position: bottom;
        background-position-x: 100%;
        .hInicio{
            padding-top: 2%;               
            
        }
            
    }

    @media (max-width: 768px){
        background-position: bottom;
        background-position-x: 110%;
        .hInicio{
            padding-top: 2%;               
            
        }
            
    }

    @media (max-width: 480px){
        background-position: bottom;
        background-position-x: 190%;
        .hInicio{
            padding-top: 1%;  
            
            padding-left: 5%;
            padding-right: 5%;       
                         
            
        }
            
    }
    @media (max-width: 450px){
        background-position: bottom;
        background-position-x: 0%;
        background-position-y: 140%;
        .hInicio{
            padding-top: 1%; 
            padding-left: 5%;
            padding-right: 5%;       
            
        }
        
    }
    
}
