.tendencias{
    color: black;
    background-color: $background-secundario;
    width: 100%;
    
    
 }

.h1Tendencias{
   font-size: 350%; 
 
}



.cardBorder{
    border-radius: 50px ;
    width: 100%;
    
    
}


.cardMargin{
    margin-left: 10%;
    margin-right: 10%;
}

.tendenciasMargin{
    margin: 10%;
}