.tendencias{
    color: black;
    background-color: $background-secundario;
    width: 100%;

    h1{
        
        color: rgb(0, 0, 0);
       
    }
    h2{
        
        color: rgb(193, 87, 70, 0.46);
    }
    
 }

 .tendenciasArg{
    h1{
        color: white;
        margin-top: 3%; 
        margin-bottom: 3%;   

    }

        
}



.cardBorder{
    border-radius: 50px ;
    width: 100%;
       
}

.tendenciasPop{
    display: flex;
    
    
    .cardTendencias{
        justify-content:center;
    }
}

.cardMargin{
    margin-left: 10%;
    margin-right: 10%;
}

.tendenciasMargin{
    margin: 10%;
}

.tendeTable{
    width: 100%;
    margin: auto;
    
}

.cardPop{
    display: flex;
    justify-content: center;
    
}
